.default-img{
    position: relative;
    width: 200px;
    height: 250px;
}
.default-img img{
    position: relative;
    width: 100%;
    height: 100%;
    cursor: pointer;
    -moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}
.default-img img:hover{
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
.little{
    position: relative;
    width: 150px;
    height: 200px;
}
.little img{
    position: relative;
    width: 100%;
    height: 100%;
    cursor: pointer;
    -moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}
.medium{
    position: relative;
    width: 250px;
    height: 300px;
}
.medium img{
    position: relative;
    width: 100%;
    height: 100%;
    cursor: pointer;
    -moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}
.big{
    position: relative;
    width: 300px;
    height: 350px;
}
.big img{
    position: relative;
    width: 100%;
    height: 100%;
    cursor: pointer;
    -moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}
.hover{
    position: relative;
    margin: 10px;
}
.hover:hover{
    opacity: 0.7;
}