footer{
    position: relative;
    width:100%;
}
div#info-footer{
    position: relative;
    width:100%;
    padding:15px;
    color:#696969;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom:0;
    border-top: 1px solid #ddd;
}
div.block-div{
    padding: 20px;
    margin: 10px;
}
ul.list-footer{
    list-style: none;
}
ul.list-footer li{
    padding: 5px;
    text-align: center;
}
ul.list-footer li a{
    padding: 5px;
    color:#696969;
    text-decoration: none;
}
ul.list-footer li a:hover{
    padding: 5px;
    color:#ddd;
    text-decoration: underline;
}
div.copyright{
    position: relative;
    width: 100%;
    font-size: 14px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color:#696969;
}
