footer{
    position: relative;
    width:100%;
    border-top:1px solid #ddd;
}
div#info-footer{
    position: relative;
    width:100%;
    padding:15px;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom:0;
    border-top: 1px solid #ddd;
}
div.block-div{
    padding: 20px;
    margin: 10px;
    min-width: 300px;
    color:#696969;
}
div.block-div h2{
    text-align: center;
    text-decoration: underline;
    font-weight: none;
}
ul.list-footer{
    list-style: none;
}
ul.list-footer li{
    padding: 5px;
    width: 100%;
}
ul.list-footer li a{
    padding: 5px;
    color:#696969;
    text-decoration: none;
}
ul.list-footer li a:hover{
    padding: 5px;
    color:#204ac8;
    text-decoration: underline;
}
ul.list-rs{
    list-style: none;
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
ul.list-rs li{
    display: inline-block;
    margin: 10px;
    width: 40px;
    height: 40px;
}
ul.list-rs li a{
    display: contents;
    height: 100%;
    width: 100%;
}
ul.list-rs li a img{
    height: 100%;
    width: 100%;
}

div.copyright{
    position: relative;
    width: 100%;
    font-size: 14px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color:#696969;
}
