.card-wd{
    max-width: 250px;
    transition: all 1s;
}
.card-wd:hover{
    box-shadow: 2px 2px 5px rgb(182, 182, 182);
}
.card-media{
    min-height:250px;
}
a{
    text-decoration: none;
}
.subtitulo{
    color:green;
}
.subtitulo:before{
    content:'R$ '
}
.button-card{
    color:#204ac8;
    display:flex;
    vertical-align: middle;
    width: 100%;
    height: 100%;
}
img.icon{
    width: 20px;
    height: 20px;
    margin: 2px;
}
