div.slide{
    position: relative;
    width: 100%;
    height: 200px;
    margin-bottom:10px;
    background-color: burlywood;
    display: flex;
    align-items: center;
    justify-content: center;
}
div.slide img{
    width: 100%;
    height: 200px;
}
div.conteudo-slide{
    position: absolute;
    color:white;
    background:transparent;
    padding:10px;
}