fieldset.carrinho{
  margin-top: 50px;
  position: relative;
  width: 100%;
  border: none;
  border-radius: 10px;
  padding: 10px;
}
fieldset.carrinho legend{
  text-align: center;
  color:black;
}
table.table{
  position: relative;
  width: 100%;
  color:#204ac8;
}
table.table thead tr{
  background-color: #ddd;
}
table.table thead tr th{
  padding: 5px;
  text-align: center;
}
table.table tbody tr td{
  padding: 5px;
  text-align: center;
}
img.add, img.remove{
  position: relative;
  cursor: pointer;
  width: 30px;
  height: 30px;
}
div.btn-carrinho{
  position: relative;
  float: right;
  padding: 20px;
  margin-bottom: 50px;
}


