*{
    margin:0;
    padding:0;
    outline:0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
.default{
    position: relative;
    width:100%;
    min-height: 367px;
}
@media screen and (max-width: 360px) and (max-height: 640px){
    .default{
        margin-top: 100px;
        position: relative;
        width:100%;
        min-height: 367px;
    }
}